{%extends 'surveyresult.html'%}
{%load static%}
{%block results%}
<h3>You probably do not have COVID-19</h3>
<p>You have almost no symptoms for COVID-19.</p>

You can follow the tips given below:<br>
    • It cannot be stressed enough how much important it is for you to stay at home. Avoid going out of your house unless absolutely necessary.<br>
    • Use home delivery services to get supplies to prevent going out.<br>
    • If you need to be around other people or animals in or outside of the home, wear a cloth face covering.<br>
    • Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.<br>
    • Maintain at least 2 metres (6 feet) distance between yourself and others.<br>
    • Avoid touching eyes, nose and mouth. <br>
    • Make sure you and the people around you, follow good hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue immediately and wash your hands. <br>
    • Keep yourself entertained through your phone.<br>
{%endblock%}