{%extends 'surveyresult.html'%}
{%load static%}
{%block results%}
<h3>You may have COVID(You show symptoms)</h3>
<p>Your symptoms might be due to general flu or due to the COVID-19 virus. However, it is strictly recommended for you to follow self-isolation for a couple of weeks.</p>
    • Practice self-isolation for the next 2 weeks.<br>
    • Stay home. Most people with COVID-19 have mild illness and can recover at home without medical care. Do not leave your home, except to get medical care. Do not visit public areas. As much as possible, stay in a specific room and away from other people and pets in your home. If possible, you should use a separate bathroom.<br>
    • Clean and disinfect high-touch surfaces in your “sick room” and bathroom. Let someone else clean and disinfect surfaces in common areas, but you should clean your bedroom and bathroom, if possible
    • Stay hydrated. Keep sipping water every 30 minutes to prevent your throat from getting dry.<br>
    • You should wear a mask covering over your nose and mouth if you must be around other people or animals, including pet.<br>
    • Do not share dishes, drinking glasses, cups, eating utensils, towels, or bedding with other people in your home.<br>
    • Stay in touch with your doctor. If symptoms persist (or become worse) after 5 days, seek medical attention or quarantine yourself. Call the medical institution before you get medical care. <br>
    • If symptoms reduce or cured in the following 5-10 days, you are safe.<br>
    • Keep yourself motivated by using your phone or any other means.<br>

{%endblock%}