{%load static%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <!--https://github.com/CliffCloud/Leaflet.EasyButton-->
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

<style>
        html, body, #mapid {
            height: 75vh;
            width: 100vw;
        }
</style>
    <div id="mapid">
    </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-sm table-hover table-dark" id="table">
            <thead>
                <tr>
                    <th scope="col">Sl. No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Distance(Km)</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody id="hospitaltablebody">

            </tbody>
        </table>
      </div>
    </div>
  </div>



    <script>
        var hIcon = L.icon({
            iconUrl: "{%static 'hicon64.png'%}",
            iconSize:     [64,64], // size of the icon
            iconAnchor:   [32,56], // point of the icon which will correspond to marker's location
            popupAnchor:  [0, -38] // point from which the popup should open relative to the iconAnchor
        });
        var uIcon = L.icon({
            iconUrl: "{%static 'uicon48.png'%}",
            iconSize:     [48,48], // size of the icon
            iconAnchor:   [24,44], // point of the icon which will correspond to marker's location
            popupAnchor:  [0,-34] // point from which the popup should open relative to the iconAnchor
        });
        var curloc;
        var map = L.map('mapid').setView([22.344812, 78.266602], 13);
        /*L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoicmFqYXJzaGkwNyIsImEiOiJja2NxY3JsNzEwMDhmMnNyOG53MWJ4YnkwIn0.k_lXwTIEmzcv1XXEgMSagQ'
        }).addTo(map);*/
        //https://leaflet-extras.github.io/leaflet-providers/preview/
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 16,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        L.easyButton( 'fa-crosshairs', function(){
            map.flyTo(curloc.latlng,16);
          }).addTo(map);
        function onLocationFound(e) {
            curloc=e;
            L.circle(e.latlng, {
                color: '#e03',
                fillColor: '#e03',
                fillOpacity: 0.5,
                radius: e.accuracy
            }).addTo(map);
            L.marker(e.latlng,{icon:uIcon}).addTo(map).bindPopup("You are within " + e.accuracy + " meters from this point").openPopup();
            hereApiCaller(e);
        }

        function onLocationError(e) {
            alert("Geolocation Permission Denied. Please Reload Page.");
            console.log(e.message);
        }
        map.locate({setView: true, maxZoom: 15});
        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);

        var main_url = 'https://places.ls.hereapi.com/places/v1/discover/explore?in=',
        ending = '%3Br%3D17768&cat=hospital&size=100&apiKey=yqGj9Hvx5Gvgqp-g9Eg37Z-sSIHEMwZgbzcWYOnxzxM';
        function hereApiCaller(e) {
            latlang = e.latlng.lat + '%2C' + e.latlng.lng;
            url = main_url + latlang + ending;
            fetch(url, {
                method: 'GET'
            }).then(function(response) {
                if (response.ok) {
                    return response.json();
                }
                return Promise.reject(response);
            }).then(function(data) {
                markerplacer(data);
            });
        }

    function markerplacer(data) {
        for (var i = 0; i < data.results.items.length; i++) {
            L.marker([data.results.items[i].position[0], data.results.items[i].position[1]],{icon: hIcon})
            .addTo(map)
            .bindPopup("<b>" + data.results.items[i].title+ "</b><br>" + data.results.items[i].vicinity+'<br>'+(data.results.items[i].distance/1000)+'Kms');
            var tabcontent= "<tr><td>"+ (i+1) +"</td><td>"+data.results.items[i].title + "</td><td>"+(data.results.items[i].distance/1000)+"</td><td>"+data.results.items[i].vicinity+"</td></tr>";
            document.querySelector("#hospitaltablebody").innerHTML+=tabcontent;
        }
    }

    function recentre() {
        map.flyTo(curloc.latlng,16);
    }
</script>
