{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <title>
    {%block title%}
    {%endblock%}
  </title>
  <link rel='manifest' href="{%static 'manifest.json'%}">
  <link rel="apple-touch-icon" href="{%static 'icon96.png'%}">
  <link rel="icon" href="{%static 'icon96.png'%}">
  <meta name="apple-mobile-web-app-status-bar" content="#349eeb">
  <meta name="theme-color" content="#349eeb">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .full-width {
      padding-left: 0;
      padding-right: 0;
    }
    .hidden {
      display: none !important;
    }
    body {
        width:100vw;
        overflow-x:hidden;
        overflow-y:scroll;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    body {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
  </style>
</head>

<body>
  <div class="full-width container-fluid sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark full-width bg-primary">
      <a class="navbar-brand" href='{% url "home" %}'><i class="fa fa-heartbeat" aria-hidden="true"></i><b>Hospital
          Finder</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        {%block navpage%}
        {%endblock%}
        <ul class="navbar-nav navbar-right">
            <div id="installContainer" class="hidden"  style='padding : 0px 5px 3px 0px'>
                <button id="butInstall" type="button" class="btn btn-secondary">Install</button>
            </div>
          {%block login%}
          {% if request.user.is_authenticated %}
          <li class="nav-item" style='padding : 0px 5px 3px 0px'><a class="btn btn-light" href='{%url "chatindex"%}'>{{ request.user.username }}'s Chat</a></li>
          <li class="nav-item" style='padding : 0px 5px 3px 0px'><a class="btn btn-light" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item"  style='padding : 0px 5px 3px 0px'><a class="btn btn-light" href='{%url "chatindex"%}'>Chat</a></li>
          {% endif %}
          {%endblock%}
        </ul>
      </div>
    </nav>
  </div>


  <div class="container-fluid full-width">
    {%block content%}
    {%endblock%}
  </div>
  <hr>
  <footer class="container">
    <p>For any COVID 19 related queries, call your State Helpline/Ministry of Health & Family Welfare's 24X7 helpline at
      1075 or 011-23978046</p>
    <p>Translate this page: {%include 'translate.html'%}</p>
    <p><a href="/admin">© </a>2020 <a href="https://Rajarshi07.github.io">Rajarshi</a>, Anupam, Sagnik, Swairik</p>

  </footer>
</body>
<script>
    const divInstall = document.getElementById('installContainer');
    const butInstall = document.getElementById('butInstall');

    window.addEventListener('beforeinstallprompt', (event) => {
      console.log('👍', 'beforeinstallprompt', event);
      window.deferredPrompt = event;
      divInstall.classList.toggle('hidden', false);
      butInstall.click();
    });
    butInstall.addEventListener('click', () => {
      console.log('👍', 'butInstall-clicked');
      const promptEvent = window.deferredPrompt;
      if (!promptEvent) {
        return;
      }
      promptEvent.prompt();
      promptEvent.userChoice.then((result) => {
        console.log('👍', 'userChoice', result);
        window.deferredPrompt = null;
        divInstall.classList.toggle('hidden', true);
      });
    });
    window.addEventListener('appinstalled', (event) => {
      console.log('👍', 'appinstalled', event);
    });


  if ('serviceWorker' in navigator) {
    console.log("Registering Service Worker");
    navigator.serviceWorker.register("{% url 'serviceworker.js' %}")
      .then(function (reg) { console.log("SW Registration Complete :", reg); })
      .catch(function (err) { console.log("SW Registration Failed. Error: ", err) });
  }
</script>

</html>