<!--
<div class="btn-group nav-button">
    <button class="btn btn-light btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-h-square" aria-hidden="true"></i> Login
    </button>
    <div class="dropdown-menu dropleft">
      <form  id="login-form" class="px-4 py-3" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Email/Username</label>
          <input name="username" id="id_username" class="form-control" placeholder="email@example.com" type="text">
        </div>
        <div class="form-group">
          <label for="id_password">Password</label>
          <input type="password" name="password" id="id_password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <div class="dropdown-divider"></div> 
      <a class="dropdown-item" href='{%url "register"%}'>New around here? Sign up</a>
    </div>
  </div>
-->
<a class="btn btn-light" href='{%url "chatindex"%}'>LOGIN</a>