{% extends 'homebase.html' %}
{% load static %}

{%block title%}
Hospital Signup
{%endblock%}

{%block content%}
<div class="row">
  <div class="col-8 text-centre justify-content-center align-items-center">
    <!--form goes here-->
    <h1>UNDER DEVELOPMENT</h1>
    <h3>Coming Soon...</h3>
  </div>
  <div class="col-4">
    Hospitals should sign up to update their data like no. of free beds, facilities available...which can be shown in hospital finder page
  </div>
</div>

{%endblock%}
