<p>Symptoms:</p>
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="anosmia" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="anosmia" value="0" >No</label>
    <a title="Anosmia(Loss of Smell)" data-content="Loss of smell is a primary symptom of COVID-19" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Loss of Smell
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="dyspnea" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="dyspnea" value="0" >No</label>
    <a title="Dyspnea(Shortness of breath)" data-content="When you have shortness of breath, you can't catch your breath or get enough air in your lungs." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Shortness of Breath
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="fever" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="fever" value="0">No</label>
    <a title="Fever" data-content="Body Temperature greater than 98.6 F" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Fever
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="dihorrea" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="dihorrea" value="0">No</label>
    <a title="Dihorrea" data-content="Loose,watery stools three or more times in one day" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Dihorrea
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="fatigue" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="fatigue" value="0">No</label>
    <a title="Fatigue" data-content="Overall feeling of tiredness or lack of energy" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Fatigue
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="cough" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="cough" value="0">No</label>
    <a title="Dry Cough" data-content="A dry cough is a cough that doesn’t bring up mucus. It may feel like you have a tickle in the back of your throat triggering your cough reflex, giving you hacking coughs." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Persistant Dry Cough
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="abdomen" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="abdomen" value="0">No</label>
    <a title="Abdominal Pain" data-content="Pain from inside the abdomen or the outer muscle wall, ranging from mild and temporary to severe." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Abdominal Pain
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="loa" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="loa" value="0">No</label>
    <a title="Loss of Appetite" data-content="not wanting to eat, unintentional weight loss, and not feeling hungry" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Loss of Appetite
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="headache" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="headache" value="0">No</label>
    <a title="Headache" data-content="A painful sensation in any part of the head, ranging from sharp to dull" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Headache
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="runny" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="runny" value="0">No</label>
    <a title="Rhinorrea (Runny Nose)" data-content="runny nose refers to a discharge (fluid and mucus) coming from the nasal passages" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Runny Nose
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="congestion" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="congestion" value="0">No</label>
    <a title="Nasal Congestion" data-content="Nasal passages swollen with excess fluid and mucus" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Nasal Congestion
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="throat" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="throat" value="0">No</label>
    <a title="Sore Throat" data-content=" A sore throat is pain, scratchiness or irritation of the throat that often worsens when you swallow." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Sore Throat
    </a>
</div></p>
<!--done-->
<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="contact" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="contact" value="0">No</label>
    <a title="Suspected Case" data-content="having been in contact with a confirmed or probable COVID-19 case" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Contact With COVID-19 infected person
    </a>
</div></p>
<!--done-->

<!--risks-->
<p>Risks: </p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="age" value="1">&gt;45</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="age" value="0">&lt;45</label>
    <a title="Age" data-content="People greater than 45 Years of age are at more risk from SARS-CoV-2 virus." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Age
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="diabetes" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="diabetes" value="0">No</label>
    <a title="Diabetes" data-content="A group of diseases that result in too much sugar in the blood (high blood glucose)." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Diabetes
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="highbp" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="highbp" value="0">No</label>
    <a title="Hypertension" data-content="also known as high blood pressure (HBP), is a long-term medical condition in which the blood pressure in the arteries is persistently elevated." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Hypertension
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="heart" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="heart" value="0">No</label>
    <a title="Heart Disease" data-content="Heart conditions that include diseased vessels, structural problems and blood clots." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Heart Disease
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="lung" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="lung" value="0">No</label>
    <a title="Lung Disease" data-content="Lung disease refers to disorders that affect the lungs. Lung diseases are: Asthma, chronic bronchitis, and emphysema, etc" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Lung Disease
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="liver" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="liver" value="0">No</label>
    <a title="Gl/Liver Diseases" data-content="Gall Bladder diseases and Liver diseases like: hepatitis A, hepatitis B, and hepatitis C, fatty liver disease, cirrhosis, hemochromatosis and Wilson disease" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Gl/Liver Diseases
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="kidney" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="kidney" value="0">No</label>
    <a title="Kidney Disease" data-content="Kidney disease means kidneys are damaged and can't filter as well." class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Kidney Disease
    </a>
</div></p>

<p><div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-sm btn-outline-warning"><input required="required" type="radio" name="aids" value="1">Yes</label>
    <label class="btn btn-sm btn-outline-success"><input required="required" type="radio" name="aids" value="0">No</label>
    <a title="Immunodeficiency" data-content="Immunodeficiency or immunocompromise is a state in which the immune system's ability to fight infectious disease and cancer is compromised or entirely absent. Eg: HIV AIDS" class="btn btn-sm text-secondary" tabindex=0 href="#" data-toggle="popover" data-trigger="hover">
        Immunodeficiency
    </a>
</div></p>



