<table class="table table-sm table-hover table-striped">
    <caption>Statewise Data from <a href="https://www.mohfw.gov.in/">www.mohfw.gov.in</a></caption>
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">State</th>
        <th scope="col">Infected</th>
        <th scope="col">Cured</th>
        <th scope="col">Death</th>
    </tr>
    </thead>
    <tbody>
        <tr class="trow-warning">
            <td></td>
        {% for i in indiadata %}
            <td>{{i}}</td>
        {% endfor %}
        </tr>
        {% for i in statedata %}
            <tr>
            {% for j in i %}
                <td>{{j}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        
    </tbody>
</table>